/build/
/bin/
/obj/
/out/
/.testing/

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.d
*.lo
*.la

*.out
a.out

*.exe

*.pdb
*.dSYM/
*.ilk

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.idea/
*.swp

*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
gmon.out

*.txt
